body {
    font-family: 'Bebas Neue', sans-serif;  /* sets the font family to Bebas Neue */
    background-color: #white;
    color: black;
}

h1 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;  /* sets the font family to Bebas Neue */
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

nav a {
    color: black;                 /* sets the color of the link to white */
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;          /* removes the underline */
    padding: 50px 100px;            /* 50px is the vertical padding, 100px is the horizontal padding */
    align-items: center;             /* centers the text vertically */
}


.project-container {
    display: flex;
}

.project-left {
    width: 50%;
}

.project-right {
    width: 50%;
}