body {
    font-family: 'Fragment Mono', monospace;  /* sets the font family to Bebas Neue */
    background-color: white;
    color: black;
}

nav {
    text-align: center;
}

nav a {
    color: black;                 /* sets the color of the link to white */
    font-family: 'Fragment Mono', monospace;
    text-decoration: none;          /* removes the underline */            
    font-size: 25px;
    margin: 0px 100px; /* 0 is the top and bottom margin and 50 is is the left and right */
    text-align: center;
}

h1 {
    color: black;
    font-family: 'Fragment Mono', monospace;  /* sets the font family to Bebas Neue */
    text-align: center;
    font-size: 40px;
}

h2 {
    color: black;
    font-family: 'Fragment Mono', monospace;
    text-align: center;
    font-size: 20px;
}

h3 {
    color: black;
    font-family: 'Fragment Mono', monospace;
    text-align: center;
    font-size: 20px;
    margin-top: 0.25px;
}

p{
    color: black;
    font-family: 'Fragment Mono', monospace;
    font-size: 40px;
    margin-top: 75px;
    text-align: center;

}


.banner {
    display: flex;
    background-color: #f6e5d0ff;

    border-radius: 60px;
    margin: 100px 10px 10px 10px;
    padding-top: 1px;


}

.banner-left {
    width:30%;

}

.banner-left img {
    width: 100%;
}

.banner-right {
    width: 70%;
    padding-right: 60px
}

.banner-right h1 {
    text-align: right;
    font-size: 90px;
    margin: 0px 0px 0px 0px;
}

.banner-right h2 {
    text-align: right;
    font-size: 30px;
    margin: 5px 0px 0px 0px
}

.top-banner-line{
    border: 1px solid black;
    margin:50px 10px 50px 10px; /* top right bottom left  */

}

.bottom-banner-line {
    border: 1px solid black;
    margin:50px 10px 100px 10px; /* top right bottom left  */
}

.Hook h1 {
    text-align: center;
    font-size: 80px;
    margin: 10px auto 5px auto;
}

.Skills h2{
    font-size: 30px;
    margin: 70px auto 70px auto;
}

.banner-text {
    background-color: #f6e5d0ff;

    border-radius:60px;
    padding: 100px auto 100px auto;
    margin: auto 100px auto 100px
}

.banner-line h2 {
    margin: 10px auto 10px auto;
}
