body {
    font-family: 'Bebas Neue', sans-serif;  /* sets the font family to Bebas Neue */
    background-color: white;
    color: black;
}

nav {
    text-align: center;  /* centers the text vertically */
}

nav a {
    color: black;                 /* sets the color of the link to white */
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;          /* removes the underline */            
    padding: 10px 100px;
}

h1 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;  /* sets the font family to Bebas Neue */
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 1px;
}

h2 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 0.25px;
    margin-bottom: 1px;
}

h3 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 0.25px;
}

.project-LEGACYWHEELHUB { /* container for the project sections */
    display: flex;
}

.project-LEGACYWHEELHUB-left {  /* container for the left section of the project */
    width: 60%;
}

.project-LEGACYWHEELHUB-right { /* container for the right section of the project */
    width: 40%;
    text-align: center;
    margin-top: 30px;
}

.project-LEGACYWHEELHUB-right img{
    width: 75%;
}

.project-HXBELLCRACKSUSPENSION { /* container for the project sections */
    display: flex;
}

.project-HXBELLCRACKSUSPENSION-left {  /* container for the left section of the project */
    width: 60%;
}

.project-HXBELLCRACKSUSPENSION-right { /* container for the right section of the project */
    width: 40%;
    text-align: center;
    margin-top: 30px;
}

.project-HXBELLCRACKSUSPENSION-right img{
    width: 75%;
}