:root {
    --main-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--main-font);  /* sets the font family to Bebas Neue */
    color: black;
}

nav {
    text-align: center;
}

nav a {
    color: black;                 /* sets the color of the link to white */
    font-family: var(--main-font);
    text-decoration: none;          /* removes the underline */            
    font-size: 25px;
    margin: 0px 100px; /* 0 is the top and bottom margin and 50 is is the left and right */
    text-align: center;
}

h1 {
    color: black;
    font-family: var(--main-font);   /* sets the font family to Bebas Neue */
    text-align: center;
    font-size: 40px;
}

h2 {
    color: black;
    font-family: var(--main-font);
    text-align: center;
    font-size: 20px;
}

h3 {
    color: black;
    font-family: var(--main-font);
    text-align: center;
    font-size: 20px;
    margin-top: 0.25px;
}

p{
    color: black;
    font-family: var(--main-font);
    font-size: 40px;
    margin-top: 75px;
    text-align: center;

}

/* banner class */
.banner {
    display: flex;
    background-color: #f6e5d0ff;

    border-radius: 60px;
    margin: 100px 10px 100px 10px;
    padding-top: 1px;


}

.banner-left {
    width:30%;

}

.banner-left img {
    width: 100%;
}

.banner-right {
    width: 70%;
    padding-right: 60px
}

.banner-right h1 {
    text-align: right;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    font-weight: 800;
    color:#2B59C3;
}

.banner-right h2 {
    text-align: right;
    font-size: 30px;
    margin: 5px 0px 0px 0px;

    font-weight: 500;
}

/* Hook banner line class */
.top-banner-line{
    border: 1px solid black;
    margin:300px 10px 50px 10px; /* top right bottom left  */

}

.bottom-banner-line {
    border: 1px solid black;
    margin:50px 10px 300px 10px; /* top right bottom left  */
}

.Hook h1 {
    text-align: center;
    font-size: 80px;
    margin: 10px auto 5px auto; 
}


.Hook h1 strong {
    text-align: center;
    font-size: 80px;
    margin: 10px auto 5px auto; 
    color: #2B59C3;
}


/* message class */
.message-text {
    background-color: #f6e5d0ff;

    border-radius:60px;
    margin-right: 200px;
    margin-left: 200px;
}

.message-text h2 {
    padding: 50px 100px 50px 100px;
}

.under-message-text {
    border: 1px solid black;
    margin:100px 10px 50px 10px;
}

/* timeline class */

.timeline-banner {
    background-color: #f6e5d0ff;

    border-radius:30px;
    margin: 200px 200px 200px 200px;
}

.timeline-banner h2 {
    font-size: 35px;
    padding: 50px 30px 50px 30px;
}

/** Teams Sectiom */

.Teams {
    display: flex;
    font-family: var(--main-font);
    width: 100%;
}

.Teams-Left {
    display: flex;
    width   : 50%;
    
    align-items: center;
    justify-content: center ;
} 

.Teams-Left img {
    display:block;
    width: 70%;
    height: auto;
    max-width: 100%;

    align-items: center;

    padding: 10px 10px 10px 10px;
    margin: 30px auto 30px auto;
    border-radius: 6px;

    background-color:#f6e5d0ff; 

}

.Teams-Right {
    width: 50%; 
}

.Teams-Right h1 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 1px;
    line-height: 1.2;
    white-space: normal;
    word-wrap: break-word;
}

.Teams-Right h2 {
    text-align: left;
    font-size: 30px;
}

.Teams-Right p {
    text-align: left;
    font-size: 30px;
}

/* arrow bullet points */
.arrow-list {
    list-style: none; /* remove the round bullet point default */
    padding-left: 0;    /* removes the default indentation browsers add to lists */
    margin: 20px 0;
    font-size: 30px;
}

.arrow-list li::before {
    content: "→";   /* inserts the → character BEFORE each list item */
    margin-right: 10px; /* adds space between the arrow and the text */
}


/*end banner */
.end-banner {
    background-color:#f6e5d0ff;
}

.end-banner h1 {
    text-align: left;
    margin: 50px 20px auto 20px;
    font-size: 80px;
}


.end-banner-contact {
    padding-bottom:50px;
}

.end-banner-contact h2{
    text-align:left;
    margin: auto 20px auto 20px;
}

/* skills conveyor*/

.Skills {
    font-family: var(--main-font);
    overflow: hidden; /* hides anything outside of the box */
    white-space: nowrap; /* wrap the line so it doesn't move to another line */
    font-size: 40px; 
    
}

.Skills-conveyor {
    display: inline-block; /* makes the div only as wide as it's content */
    animation: ticker 50s linear infinite; /* variable speed style direction duration */
}

.Skills-conveyor span {
    margin: 0px 30px; /* adding margin inbetween each skill */
}

@keyframes ticker {
    0%   { transform: translateX(0); } /* start position - normal position */
    100% { transform: translateX(-50%); } /* end position - move 50% to the left */
}

/* sticker movement next to heashot*/

.headshot-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.headshot {
    width: 100%;
    display: block;
}

.sticker {
    position: absolute;
    width: 55px;
    height: 55px;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sticker:hover {
    transform: scale(1.3) rotate(10deg);
}

/* scattered positions */
.sticker-TTM { bottom: 83%;  right: 1%; }
.sticker-HX { bottom: 50%;  right: 25%; }
.sticker-LEGACY { bottom: 65%;  right: 15%; }
.sticker-FEP { bottom: 50%;  left: 25%; }
.sticker-ASME { bottom: 65%; left: 15%; }

