<!DOCTYPE html> <!-- initializing code format -->

<html>


    <head>
        <link rel="stylesheet" href="/static/style.css"> <!-- Linking what style this page will be formatted in. In style.css-->
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap" rel="stylesheet">  <!-- importing Bebas Neue as a font family -->
        <title>About Me</title> <!-- title of the page-->
    </head>

    <body>
        <nav>                       <!-- navigation bar of text that has links to the other pages-->
            <a href="/">Home</a> 
            <a href="/about">About Me</a>
            <a href="/projects">Projects</a>
        </nav>
        <h1>TRISTAN DELA CRUZ</h1>
        <h2>Biomedical Engineering</h2>
        <h2>University of California, Irvine</h2>
        <h2>Senior</h2>
            <p>Hello! My name is Tristan Dela Cruz, and I am a senior at the University of California, Irvine, majoring in Biomedical Engineering. 
                I am passionate about learning manufacturing process of devices ranging from printed circuit boards to medical devices 
            </p>

    </body>

</html>
