<!DOCTYPE html>

<html>


    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>About Me</title>
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">Projects</a>
        </nav>
        <h1>TRISTAN DELA CRUZ</h1>
        <h2>Biomedical Engineering</h2>
        <h2>University of California, Irvine</h2>
        <h2>Senior</h2>
            <p>Hello! My name is Tristan Dela Cruz, and I am a senior at the University of California, Irvine, majoring in Biomedical Engineering. 
                I am passionate about learning manufacturing process of devices ranging from printed circuit boards to medical devices 
            </p>

    </body>

</html>
