<!DOCTYPE html> <!-- initializing code format -->

<html>


    <head>
        <link rel="stylesheet" href="static/style-home-page.css">
        <title>About Me</title> <!-- title of the page-->
    </head>
    
    <body>
        <nav>                                                                   <!-- naviatgion bar of text-->
            <div class="nav-links">
                <a href="/">home</a>                                            <!-- navigation bar link to home page -->                               <!-- navigation bar link to projects page -->
                <a href="/connect">connect</a>                                  <!-- navigation bar link to about page -->
            </div>
            <div class="nav-name">Tristan Dela Cruz</div>
        </nav>

        
        <h1>TRISTAN DELA CRUZ</h1>
        <h2>Biomedical Engineering</h2>
        <h2>University of California, Irvine</h2>
        <h2>Senior</h2>
            <p>Hello! My name is Tristan Dela Cruz, and I am a senior at the University of California, Irvine, majoring in Biomedical Engineering. 
                I am passionate about learning manufacturing process of devices ranging from printed circuit boards to medical devices 
            </p>

    </body>

</html>
