<!DOCTYPE html> <!-- initializing code format -->

<html>

    <head>
        <link rel="stylesheet" href="/static/style-home-page.css">        <!-- link rel tells the page that it is a stylesheet and href is the path to the stylesheet     -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@800&display=swap" rel="stylesheet">
        <title>Tristan's Porfolio!</title> <!-- page title -->
    </head>

    <body>
        <nav>                                     <!-- naviatgion bar of text-->
            <a href="/">Home</a>                   <!-- navigation bar link to home page -->
            <a href="/projects">Projects</a>        <!-- navigation bar link to projects page -->
            <a href="/connect">Connect</a>           <!-- navigation bar link to about page -->
        </nav>

        <div class="banner">
            <div class="banner-left">
                <img src="/static/Tristan_HX_HEADSHOT.jpg" alt="headshot">
            </div>
            <div class="banner-right">
                <h1>TRISTAN DELA CRUZ</h1>
                <h2>University of California, Irvine</h2>
                <h2>B.S. Biomedical Engineering</h2>
                <h2>Tristanmdelacruz@gmail.com</h2>
            </div>
        </div>


        <div class="Hook">

            <hr class="top-banner-line">
            <h1>A <strong>BME</strong> WITH <strong>VERSATILITY</strong></h1>
            <h3>(biomedical engineer)</h3>
            <hr class="bottom-banner-line">
            
        </div>

        <div class="Skills">
            <h2>SOLIDWORKS - ANSYS - 3D PRINTING - 2D DRAWINGS & DOCUMENTS - FINITE ELEMENT ANALYSIS(FEA)</h2>
        </div>

        <hr class="under-message-text">

        <div class="message-text">
            <h2>My Journey begins when I took my first class of Biomedical Engineering, and I said Is this really what I want to do?</h2>
        </div>

        <hr class="under-message-text">

        <div class="timeline-banner">
            <h2>The People and Teams that have made me the man I am today!</h2>
        </div>
        

        <div class="Teams">
            <div class="Teams-Left">
                <img src="/static/TTM_Intern_Expo_Photo.jpeg" alt="headshot">
            </div>
            <div class="Teams-Right">
                <h1>TTM Technologies</h1>
                <h2> -> Process Engineering Intern</h2>
                <p>At TTM Technologies, I learned dry and wet proceesses to manufacture a Printed Circuit Board.
                    During the Internship, I got to lead four manufacturing process iniatives to improve production and quality
                    at the facility.</p>
            </div>
        </div>


        <div class="Teams">
            <div class="Teams-Left">
                <img src="/static/HX_DYNAMICS_SUBTEAM.jpg" alt="subteam photo">
            </div>
            <div class="Teams-Right">
                <h1>UCI HyperXite</h1>
                <h2> -> Dynamics Engineer</h2>
                <p>UCI HyperXite is a Senior Design Project Team where we build a hyperloop pod 
                    capable of high speeds just using a linear induction motor for propulsion.</p>

            </div>
        </div>

    </body>

</html>