<!DOCTYPE html> <!-- initializing code format -->

<html>

    <head>
        <link rel="stylesheet" href="/static/style-home-page.css">              <!-- link rel tells the page that it is a stylesheet and href is the path to the stylesheet     -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> <!--Import for Java AOS-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:
                    ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=
                    Unbounded:wght@800&display=swap" rel="stylesheet">          <!-- importing the Poppins Font-->
        <title>Tristan's Porfolio!</title>                                      <!-- page title -->
    </head>

    <body>
        <nav>                                                                   <!-- naviatgion bar of text-->
            <div class="nav-links">
                <a href="/">home</a>                                            <!-- navigation bar link to home page -->
                <a href="/projects">projects</a>                                <!-- navigation bar link to projects page -->
                <a href="/connect">connect</a>                                  <!-- navigation bar link to about page -->
            </div>
            <div class="nav-name">Tristan Dela Cruz</div>
        </nav>

        <!--<div class="banner" data-aos="fade-up">                                 
            <div class="banner-left">
                <div class="headshot-container">
                    <img src="/static/Tristan_HX_HEADSHOT.jpg" alt="headshot" class="headshot">
        
                    <img src="/static/FEP.png" alt="FEP Logo" class="sticker sticker-FEP">
                    <img src="/static/HX.png" alt="HyperXite Logo" class="sticker sticker-HX">
                    <img src="/static/LEGACY.png" alt="Legacy Logo" class="sticker sticker-LEGACY">
                    <img src="/static/TTM_LOGO.png" alt="TTM Logo" class="sticker sticker-TTM">
                    <img src="/static/ASME.png" alt="ASME Logo" class="sticker sticker-ASME">
                </div>
            </div>
            <div class="banner-right">                                          
                <h1>TRISTAN DELA CRUZ</h1>
                <h2>University of California, Irvine</h2>
                <h2>B.S. Biomedical Engineering</h2>
                <h2>Tristanmdelacruz@gmail.com</h2>
            </div>
        </div> -->


        <div class="Hook" data-aos="zoom-in" data-aos-duration="1500">                                                      <!-- Container with my BME Hook-->
            <hr class="top-banner-line">                                        <!--horitonal line-->
            <h1>A <strong>BME</strong> WITH <strong>VERSATILITY</strong> </h1>                                     <!--text-->
            <h3>(biomedical engineer)</h3>                                      <!--text-->
            <hr class="bottom-banner-line">                                     <!--horitonal line-->
        </div>

        <div class="Skills">                                                    <!--Container with my list of skills-->
            <div class="Skills-conveyor">
                <span>SOLIDWORKS</span>
                <span>ANSYS</span>
                <span>3D PRINTING</span>
                <span>2D DRAWINGS & DOCUMENTS</span>
                <span>FINITE ELEMENT ANALYSIS</span>
                <span>PCB Manufacturing</span>
                <span>Design of Experiments</span>
                <span>Metal Machinery</span>
                <span>Wood Machinery</span>
                <span>Visual Studio Code</span>
                <span>Ignition Automation</span>
                <span>Python</span>
                <span>HTML</span>
                <span>Excel</span>
                <!--loop-->
                <span>SOLIDWORKS</span>
                <span>ANSYS</span>
                <span>3D PRINTING</span>
                <span>2D DRAWINGS & DOCUMENTS</span>
                <span>FINITE ELEMENT ANALYSIS</span>
                <span>PCB Manufacturing</span>
                <span>Design of Experiments</span>
                <span>Metal Machinery</span>
                <span>Wood Machinery</span>
                <span>Visual Studio Code</span>
                <span>Ignition Automation</span>
                <span>Python</span>
                <span>HTML</span>
                <span>Excel</span>
            </div>
        </div>

        <!-- <hr class="under-message-text"> -->                                        

         <!-- <div class="timeline-banner">                                           
            <h2>The People and Teams that have made me the person I am today!</h2>
        </div> -->
        
        <div class="intro">
            <div class="intro-left">
                <img src ="/static/intro.gif" alt="headshot">
            </div>
            <div class="intro-right">
                <h3>Hello my name is Tristan Dela Cruz, I am a first generation college student as a fourth year Biomedical Engineering 
                    Major at the University of California Irvine. </h3>
                <h3>I entered into college with NO engineering experience, and now I am grateful to have joined three different
                        college projects and interned at one of highest valued pcb manufacturing companies</h3>
                <h3>Check out the teams and work I have produced throughout the years</h3>
            </div>
        </div>

        <!--TTM-->
        <div class="Teams">                                                     <!-- container for my project team-->
            <div class="Teams-Left" data-aos="fade-right" data-aos-duration="700">                                            <!-- left side of container for picture-->
                <img src="/static/TTM_Intern_Expo_Photo.jpeg" alt="headshot">
                <h3><strong>Process Engineering Intern</strong></h3>
                <h3><em>Summer 2026</em></h3>
                <h3>PCB Manufacturing - Design of Experiment - Ignition Automation </h3>
            </div>
            <div class="Teams-Right" data-aos="fade-left" data-aos-duration="400">                                           <!-- right side of container for blerb-->
                <h2>TTM Technologies</h2>
                <h3>At TTM Technologies, I learned dry and wet proceesses to manufacture a Printed Circuit Board.
                    During the Internship, I got to lead four manufacturing process iniatives to improve production and quality
                    at the facility.</h3>

                <img src="/static/TTM_LOGO.png" alt="TTM Logo" class="sticker sticker-TTM">

                <figure class="sticker-item sticker-Ignition">
                    <img src="/static/Ignition_Automation_Logo.png" alt="Ignition Automation Logo">
                    <figcaption><em>Figure 1: Ignition Automation</em></figcaption>
                </figure>

                <figure class="sticker-item sticker-DOE">
                    <img src="/static/DOE (1).png" alt="DOE Image">
                    <figcaption><em>Figure 2: Design of Experiments</em></figcaption>
                </figure>
                
            </div>
        </div>

        <!--UCI HYPERXITE-->
        <div class="Teams">                                                     <!-- container for my project team-->
            <div class="Teams-Left" data-aos="fade-right" data-aos-duration="700">                                            <!-- left side of container for picture-->
                <img src="/static/HX_DYNAMICS_SUBTEAM.jpg" alt="HX_Subteam Image">
                <h3><strong>Braking Engineer</strong></h3>
                <h3><em>2026 - Present</em></h3>
                <h3>Penumatic & Gas Spring System - Fail Saife Mechanisms - FEA</h3>
                <h3><strong>Dynamics Engineer</strong></h3>
                <h3><em>2025-2026</em></h3>
                <h3>Springs & Damper Linkage System - Matlab/Simulink Simulations</h3>
            </div>
            <div class="Teams-Right" data-aos="fade-left" data-aos-duration="400">                                           <!-- right side of container for blerb-->
                <h2>UCI HyperXite</h2>
                <h3>UCI HyperXite is Senior Design Engineering Project where we design, manufacture, 
                    and assemble a high speed pod that runs on a linear induction motor on top of an 
                    aluminum I-Beam track.
                </h3>
                <h3>
                    I was first a Dynamics Engineer where I worked on the lateral suspension system.
                    Now I work on the fail-safe braking system as a Braking Engineer.
                </h3>
                <img src="/static/HX.png" alt="HX Logo" class="sticker sticker-HX">

                <figure class="sticker-item sticker-Suspension_Test_Rig">
                    <img src="/static/Suspension_Test_Rig.png" alt="Test Rig">
                    <figcaption><em>Figure 3: Vertical Suspension Test Rig</em></figcaption>
                </figure>

                <figure class="sticker-item sticker-HX_BELL_CRANK">
                    <img src="/static/HX_BELL_CRANK.png" alt="Bell Crank Suspension">
                    <figcaption><em>Figure 4: Lateral Bell Crank Suspension System</em></figcaption>
                </figure>

                <figure class="sticker-item sticker-hx_lateral_suspension">
                    <img src="/static/hx_lateral_suspension.png" alt="Lateral Suspension">
                    <figcaption><em>Figure 5: HX 11 Final Lateral Suspension System</em></figcaption>
                </figure>
            </div>
        </div>

        <!--UCI LEGACY ROBOTICS-->
        <div class="Teams">                                                     <!-- container for my project team-->
            <div class="Teams-Left" data-aos="fade-right" data-aos-duration="700">                                            <!-- left side of container for picture-->
                <img src="/static/UCI_LEGACY_SUBTEAM.jpg" alt="LEGACY_Subteam Image">
                <h3><strong>Drone Team Lead</strong></h3>
                <h3><em>2025 - 2026</em></h3>
                <h3>Drone Mechanics - Collaboration</h3>
                <h3><strong>Dynamics Engineer</strong></h3>
                <h3><em>2024-2025</em></h3>
                <h3> Drive Systems - Static Structures</h3>
            </div>
            <div class="Teams-Right" data-aos="fade-left" data-aos-duration="400">                                           <!-- right side of container for blerb-->
                <h2>UCI Legacy Robotics</h2>
                <h3>UCI Legacy Robotics is Senior Design Engineering Project Team where design, manufacture, and 
                    assemble a Mars Rover to participate in the annual Univeristy Rover Challenge competing 
                    against 50+ universities.
                </h3>
                <h3>
                    My first role was a Dynamics Engineer where I worked on the Wheel Hub of the Rover that consisted of a 
                    3D printed wheel, drive motor, aluminum sheets for connection to the suspension, and 
                    3D printed housings.
                </h3>
                <img src="/static/LEGACY.png" alt="Legacy Logo" class="sticker sticker-Legacy">

                <figure class="sticker-item sticker-legacy_drone">
                    <img src="/static/legacy_drone.png" alt="FPS Drone">
                    <figcaption><em>Figure 6: Heavy Duty FPS Drone</em></figcaption>
                </figure>

                <figure class="sticker-item sticker-LEGACY_Wheel_Hub">
                    <img src="/static/LEGACY_Wheel_Hub.png" alt="Bell Crank Suspension">
                    <figcaption><em>Figure 7: Tank Steering Wheel Hub</em></figcaption>
                </figure>
            </div>
        </div>

        <!--FEP-->
        <div class="Teams">                                                     <!-- container for my project team-->
            <div class="Teams-Left" data-aos="fade-right" data-aos-duration="700">                                            <!-- left side of container for picture-->
                <img src="/static/LeDrone_Pic.jpg" alt="LEGACY_Subteam Image">
                <h3><strong>Project Advisor</strong></h3>
                <h3><em>2025-2026</em></h3>
                <h3>Leadership - Guidance</h3>
                <h3><strong>Drone Engineer</strong></h3>
                <h3><em>2024 - 2025</em></h3>
                <h3>Drone Mechanics - Solidworks</h3>
                <h3><strong>Arm Engineer</strong></h3>
                <h3><em>2023-2024</em></h3>
                <h3> Arm Mechanics - Solidworks</h3>
            </div>
            <div class="Teams-Right" data-aos="fade-left" data-aos-duration="400">                                           <!-- right side of container for blerb-->
                <h2>FUSION Engineering Project</h2>
                <h3>FUSION Engineering Project is an annual project that changes every 
                    year giving FUSIONatUCI General members a chance to gain hands on 
                    engineering experience straight out of college.
                </h3>
                <h3>
                    During my first year on the project, I designed and manufactured a 
                    robotic arm that is capable of connection to a chassis and end-effector 
                    purposed to pick up light payloads and store them into the chassis
                </h3>
                <h3>
                    Next, my second year, I joined the project again where I designed a Cargo Drone’s Frame.
                </h3>
                <h3>
                    Lastly, I was honored to become a Project Advisor for three teams working 
                    on a fire-extinguishing rover. 
                </h3>

                <img src="/static/FEP.png" alt="FEP Logo" class="sticker sticker-FEP">

                <figure class="sticker-item sticker-fep_remote_drone">
                    <img src="/static/fep_remote_drone.png" alt="Cargo Drone">
                    <figcaption><em>Figure 8: Remote Controlled Cargo Drone</em></figcaption>
                </figure>

                <figure class="sticker-item sticker-Mobile_Gestured_Robotic_Arm">
                    <img src="/static/Mobile_Gestured_Robotic_Arm.png" alt="Bell Crank Suspension">
                    <figcaption><em>Figure 9: Mobile Gestured Robotic Arm</em></figcaption>
                </figure>
            </div>
        </div>
        

        <div class="end-banner">                                        <!-- container for end of page contact banner-->
            <h1>Tristan Dela Cruz</h1>
            <div class="end-banner-contact">
                <h2> <u>LinkedIn</u></h2>
                <h2> <u>Email</u></h2>
            </div>
        </div>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>     <!--Import for Java AOS-->
    <script>
        AOS.init();
    </script>

    </body>

</html>