<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/static/style.css">        <!-- link rel tells the page that it is a stylesheet and href is the path to the stylesheet     -->
        <title>HELLO!</title>
    </head>

    <body>
        <nav>   
            <a href="/">Home</a>                   <!-- navigation bar link to home page -->
            <a href="/about">About Me</a>          <!-- navigation bar link to about page -->
            <a href="/projects">Projects</a>        <!-- navigation bar link to projects page -->
        </nav>
        <h1> Tristan Dela Cruz</h1>
    </body>

</html>