<!DOCTYPE html> <!-- initializing code format -->

<html>
    <head>
        <link rel="stylesheet" href="/static/style-project-page.css"> <!-- Linking what style this page will be formatted in. In style.css-->
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap" rel="stylesheet">
        <title>PROJECTS</title> <!-- title of the page-->
    </head>

    <body>
        <nav>           <!-- navigation bar of text that has links to the other pages-->
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">Projects</a>
        </nav>

        <h1>- PROJECTS -</h1> <!-- main header of the page-->
        
        
        {% for project in projects %}
        <div class="project-container">  <!-- container for the project section-->
            
            <div class="project-left"> <!-- dividing the text into the left column-->
                <h1>{{project.name}}</h1>
                <h2>{{project.date}}</h2>
                <h3>{{project.role}}</h3>
                <h2>{{project.overview}}</h2>
            </div>
            <div class="project-right"> <!-- dividing the text into the right column-->
                <img src="/static/{{project.image}}" alt="Error">  <!-- image import -->
                <p>Click Here for my Timeline!</p> <!-- caption-->
            </div>

        </div>
        {% endfor %}

    </body>

</html>