<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style-project-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Projects | Tristan Dela Cruz</title>
</head>
<body>
    <nav>
        <div class="nav-links" data-aos="zoom-in" data-aos-duration="1500">
            <a href="/">home</a>
            <a href="/projects">projects</a>
            <a href="/connect">connect</a>
        </div>
        <div class="nav-name" data-aos="zoom-in" data-aos-duration="1500"><em>Tristan Dela Cruz</em></div>
    </nav>

    <main>
        <div class="title" data-aos="zoom-in" data-aos-duration="1500">WORK-PROJECTS</div>
        <section class="project-grid" data-aos="zoom-in" data-aos-duration="1500">
            {% for project in projects %}

                {% if project.clickable %}
                <a href="/projects/{{ project.slug }}" class="card-link">
                {% endif %}

                <article class="project-card">
                    <h2>{{ project.name }}</h2>
                    <div class="card-content">
                        <div class="card-details">
                            <p class="label">Role</p><p>{{ project.role }}</p>
                            <p class="label">Date</p><p>{{ project.date }}</p>
                            <p class="label">Project Overview</p><p>{{ project.overview }}</p>
                            <p class="label">Concepts</p><p>{{ project.concepts | join(", ") }}</p>
                            <p class="label">Softwares</p><p>{{ project.softwares | join(", ") }}</p>
                        </div>
                        <div class="card-image">
                            <img src="/static/{{ project.image }}" alt="{{ project.name }}">
                        </div>
                    </div>
                    {% if project.clickable %}
                    <div class="detail-tab"><b>↗</b></div>
                    {% endif %}
                </article>

                {% if project.clickable %}
                </a>
                {% endif %}

            {% endfor %}
        </section>
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>