<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style-project-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Unbounded:wght@800&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Projects | Tristan Dela Cruz</title>
</head>

<body>
    <!--__Navigation Bar__-->

    <nav>
        <div class="nav-links" data-aos="zoom-in" data-aos-duration="1500">
            <a href="/">home</a>
            <a href="/projects">projects</a>
            <a href="/connect">connect</a>
        </div>
        <div class="nav-name" data-aos="zoom-in" data-aos-duration="1500"><em>Tristan Dela Cruz</em></div>
    </nav>

    <div class="title" data-aos="zoom-in" data-aos-duration="1500"> WORK-PROJECTS</div>

    <div class="Grid-Container" data-aos="zoom-in" data-aos-duration="1500">
        {% for project in projects %}
        <div class="Card">
            <div class="Card-title">
                <h1>{{project.name}}</h1>
            </div>
            <div class="Card-Content">
                <div class="Left">
                    <p><strong>{{project.role}}</strong></p>
                    <p><em>{{project.date}}</em></p>
                    <p>{{project.overview}}</p>
                    <p><strong>Concepts</strong></p>
                    {% for concept in project.concepts %}
                    <p>{{ concept }}</p>
                    {% endfor %}
                </div>
                <div class="Right">
                    <img src="/static/{{ project.image }}" alt="{{ project.name }}">
                </div>
            </div>
            <div class="card-popup">
                <span>↗</span>
            </div>
        </div>
        {% endfor %}
    </div>



    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>
